 <div class="container mx-auto p-8">
        <h1 class="text-3xl font-bold mb-8 text-gray-800">Dashboard Selections</h1>
        
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {%for rdr in redirects%} 
            <div class="bg-white rounded-lg shadow-lg overflow-hidden transition-all hover:shadow-xl hover:scale-105">
                <div class="p-6">
                    <div class="flex items-center mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-blue-600 mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                        </svg>
          <h2 class="text-2xl font-bold text-gray-800">{{rdr.name}}</h2>
                    </div>
        <p class="text-gray-600 mb-4">{{rdr.short_description}}</p>
                    <button  class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition-colors"
                      hx-get="{% url 'dashboard' rdr.id %}"
                    >
                        Open Dashboard
                    </button>
                </div>
            </div>
        {%endfor%}
        </div>
